body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: yellow;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Head{
  text-align: center;
  background-color: white;
}
h2{
  color: orange;
  text-align: center;
}
.text{
  margin-left: 150px;
}
img{
  width: 300px;
  height: 200px;
}
.FirstPhoto{
  margin-left: 50%;
}
.SecPhoto{
  text-align: left;
}