body {
    background-color:#C3C6B1;
   }
h1 {
   color:#339900; 
   font-size: 140%;
   text-align:center;
   text-decoration:underline;
 }
h2 {
   color:#669933; 
   font-size: 120%;
   text-align:center;
  
 }
p {
  font-style:ilatic;
  color:#FF3300
 }
