body{
    background-color:#584053;
}
h1{
    color:#4D6C64;
    font-family: 'K2D', sans-serif;
    font-size:100%;
    
}
h2{
    color:#F97B4F;
    font-family: 'K2D', sans-serif;
    font-size:200%;
   
}
h3{
    color:#F97B4F;
    border:#FCBC66;
    font-family: 'K2D', sans-serif;
    font-size:200%;
    
}
h4{
    background-color:#E80566;
    color:#FCBC66;
    font: 'K2D', sans-serif;
    font-size:150%;
   

}