body {
    background-color:#ffee62;
    text-align:center;
}
    
    h1 {
  color:#FF6600;
  font:verdana;
  font-size:100%;
  text-align:center;
 }
 h2 {
    color:#FF6600;
    font:verdana;
    font-size:100;
    text-align:center;
   }


